/* author: Paschalis Koukos
    refers to changePassword.jsp
    this css file is used to style the change password page, which is a form that allows users to change their password.
    The form includes fields for the current password, new password, and confirm new password, as well as a submit button.
    The page has a background image and uses a color scheme of purple and blue. 
*/


body { /* Global styles for the change password page */
    /* Set the font family for the entire page */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    color: #460367;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    /* Set the background image for the page */
    background-image: url("../imgs/changePassBack.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.change-Pass-container { /* Styles for the container that holds the change password form */
    padding: 2rem;
    width: 300px;
    display: flex;
    flex-direction: column;
}

label { /* Styles for the labels of the form fields */
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"] { /* Styles for the password input fields */
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-sizing: border-box;
}

button { /* Styles for the submit button */
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #0a5d97;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 10px auto 0 auto;
}

button:hover { /* Styles for the submit button when hovered */
    background-color: #012b49;
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

header { /* Styles for the header of the change password page */
    text-align: center;
    margin-bottom: 20px;
    color: #0a5d97;
    font-size: 1.2rem;
}